@(pessoas: List[entidades.Pessoa])
@main{

    <div class="container">
    <h3 class="center-align">Pesquisar Pessoa</h3>
        @helper.form(routes.PessoaController.pesquisarPessoa()) {
            @helper.CSRF.formField
            <input type="text" name="nome">
            <input class="waves-effect waves-light white-text btn" type="submit" value="Pesquisar">
        }

            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>E-mail</th>
                        <th>Rua</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @for(pessoa <- pessoas) {
                        @if(pessoa.getId <= 0) {
                            <tr>
                                <td colspan="4">
                                    Pesquise por uma pessoarun!
                                </td>
                            </tr>
                        } else {
                            <tr>
                                <td>@pessoa.getId</td>
                                <td>@pessoa.getNome</td>
                                <td>@pessoa.getEmail</td>
                                <td>@pessoa.getEnderecos</td>
                                <td>
                                    @* <a class="waves-effect waves-light btn blue" href="@routes.PessoaController.atualizarPessoaPage(pessoa.getId())"><i class="material-icons">create</i></a>*@
                                    @* <a class="waves-effect waves-light btn red" href="@routes.PessoaController.removerPessoa(pessoa.getId())"><i class="material-icons">delete</i></a>*@
                                </td>
                            </tr>
                        }
                    }
                </tbody>

            </table>
    </div>
}