@(endereco: entidades.Endereco)(pessoas: List[entidades.Pessoa])
@main {
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title blue-grey-text text-darken-2 center-align">
                            <h4>Atualizar Endereco</h4>
                        </span>
                        @helper.form(routes.EnderecoController.atualizarEndereco, 'id -> "form-endereco") {
                            @helper.CSRF.formField
                            <div class="row">
                                <input type="hidden" value="@endereco.getId" name="id">
                                <lable>Rua:</lable>
                                <input type="text"  id="rua" value="@endereco.getRua" name="rua">
                            </div>
                            <div class="row">
                                <label>N°</label>
                                <input type="text" id="numero" value="@endereco.getNumero" name="numero">
                            </div>
                            <div class="row">
                                <div class="input-field col s12">
                                    <select name="pessoa.id">
                                        <option value="@endereco.getPessoa.getId">@endereco.getPessoa.getNome</option>
                                        @for(pessoa <- pessoas){
                                            @if(endereco.getPessoa.getId != pessoa.getId) {
                                                <option value="@pessoa.getId">@pessoa.getNome</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <button class="waves-effect waves-light btn green" type="submit" value="Enviar">Atualizar</button>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
}


