@(pessoas: List[entidades.Pessoa])
@main{
    <div class="container">
        <div class="row">
            <div class="col s12 m12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title blue-grey-text text-darken-2 center-align">
                            <h4>Cadastrar Endereco</h4>
                        </span>
                        @helper.form(routes.EnderecoController.cadastrarEndereco()) {
                            @helper.CSRF.formField
                            <lable>Rua:</lable>
                            <input type="text" name="rua" minlength="5" maxlength="200">
                            <label>Numero</label>
                            <input type="text" name="numero">

                            <div class="input-field col s12">
                                <select name="pessoa.id">
                                    <option value="" disabled selected>Selecione</option>
                                    @for(pessoa <- pessoas) {
                                        <option value="@pessoa.getId">@pessoa.getNome</option>
                                    }
                                </select>
                            </div>
                            <button class="waves-effect waves-light btn green" type="submit" value="Enviar">Cadastrar</button>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
}
