@(enderecos: List[entidades.Endereco])
@main{
    <div class="container">
    <h3 class="center-align">Gerenciar Endereco</h3>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Rua</th>
                <th>Numero</th>
                <th>Pessoa</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            @if(enderecos.isEmpty){
                <tr>
                    <td colspan="4">
                        Nenhum endereço cadastrado!
                    </td>
                </tr>
            }
            @for(endereco <- enderecos) {
                <tr>
                    <td>@endereco.getId</td>
                    <td>@endereco.getRua</td>
                    <td>@endereco.getNumero</td>
                    <td>@endereco.getPessoa.getNome</td>
                    <td>
                        <a class="waves-effect waves-light btn blue" href="@routes.EnderecoController.atualizarEnderecoPage(endereco.getId)"><i class="material-icons">create</i></a>
                        <a class="waves-effect waves-light btn red"  href="@routes.EnderecoController.removerEndereco(endereco.getId)"><i class="material-icons">delete</i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}