@()

@main {
    <div id="ping"></div>
          <input type="submit" id="enviar" />
<script>

        $(function() {

            var websocket = new WebSocket("@routes.HomeController.socket().webSocketURL(request)")


            var btnEnv = document.getElementById("#enviar");
            
            //
            // var receiveEvent = function(event) {
            //     createReceive();
            // }

            //websocket.onmessage = receiveEvent

            console.table(websocket);
        })
</script>

}
